flows.json
[
    {
        "id": "f2e5f32a.4dcff",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba5fe9fe.9cfdc8",
        "type": "s7.config",
        "name": "Connection",
        "ip": "192.168.1.200",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "cycletime": "500",
        "timeout": "1500",
        "verbose": "on",
        "payload": {},
        "class": "icon-connection"
    },
    {
        "id": "4f69520b.9c331c",
        "type": "s7.group",
        "z": "f2e5f32a.4dcff",
        "name": "Machine ",
        "connection": "ba5fe9fe.9cfdc8"
    },
    {
        "id": "74210e40.0b08b",
        "type": "ui.tab",
        "name": "_Dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false,
        "startdate": "2024-08-05T23:00:00.000Z",
        "enddate": "2024-08-06T22:59:59.999Z"
    },
    {
        "id": "647fbbe6.00b364",
        "type": "s7.db",
        "uri": "mongodb://localhost:27017/xapp",
        "name": "XAPP",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "5d6bea12.be5234",
        "type": "ui.gauge",
        "z": "f2e5f32a.4dcff",
        "name": "_Gauge",
        "parentid": "74210e40.0b08b",
        "tag": "4f69520b.9c331c",
        "width": "5",
        "height": "16",
        "class": "icon-ui-gauge",
        "x": "0",
        "y": "1",
        "field": "payload",
        "fieldType": "msg",
        "formatt": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "wires": [
            []
        ]
    },
    {
        "id": "fc66985.e158268",
        "type": "s7.statemachine",
        "z": "f2e5f32a.4dcff",
        "name": "_StateMachine",
        "tag": "4f69520b.9c331c",
        "parentid": 13,
        "datapoints": {},
        "payload": {},
        "startbit": 0,
        "database": "",
        "x": 0,
        "y": 0,
        "width": 5,
        "height": 5,
        "filter": "today",
        "startdate": "Tue Aug 06 2024 00:00:00 GMT+0100",
        "enddate": "Tue Aug 06 2024 23:59:59 GMT+0100",
        "dbnone": true,
        "dbrepeat": "",
        "once": false,
        "wires": []
    },
    {
        "id": "36af78aa.e9eb38",
        "type": "s7.phase",
        "z": "f2e5f32a.4dcff",
        "name": "_BatchPhases",
        "tag": "",
        "database": "",
        "parentid": "fc66985.e158268",
        "datapoints": {},
        "payload": {},
        "x": 0,
        "y": 0,
        "db": "",
        "wires": []
    },
    {
        "id": "11769b47.f759e5",
        "type": "ui.template",
        "z": "f2e5f32a.4dcff",
        "name": "_Template",
        "parentid": "74210e40.0b08b",
        "datapoints": {},
        "tag": "",
        "width": "5",
        "height": "19",
        "x": "0",
        "y": "17",
        "class": "icon-file",
        "field": "payload",
        "fieldType": "msg",
        "formatt": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "wires": [
            []
        ]
    },
    {
        "id": "ab6be282.5f765",
        "type": "ui.piechart",
        "z": "f2e5f32a.4dcff",
        "name": "_PeiChart",
        "order": 0,
        "payload": {},
        "parentid": "74210e40.0b08b",
        "datapoints": {},
        "width": "43",
        "height": "35",
        "x": "5",
        "y": "1",
        "class": "icon-ui-piechart",
        "startdate": "2024-08-05T23:00:00.000Z",
        "enddate": "2024-08-06T22:59:59.999Z",
        "charttheme": "infographic",
        "title": "title",
        "subtitle": "August 6, 2024 - August 6, 2024",
        "title_alignvertical": "top",
        "title_alignhorizontal": "left",
        "show_title": true,
        "show_toolbox": true,
        "toolbox_alignvertical": "top",
        "toolbox_alignhorizontal": "right",
        "toolbox_orientation": "vertical",
        "show_legend": true,
        "legend_alignvertical": "bottom",
        "legend_alignhorizontal": "center",
        "legend_orientation": "horizontal",
        "chartType": "pie",
        "radius": "20",
        "chartsize": "50",
        "center_horizontal": "50",
        "center_vertical": "50",
        "roseType": "radius",
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "wires": [
            []
        ]
    }
]