Application Web/flows_DESKTOP-AB9SHB6.json
[{"id":"2a687854.142b08","type":"tab","label":"Flux 1","disabled":false,"info":""},{"id":"aea1aa0e.aec3e8","type":"s7.config","name":"Station Laitière","ip":"192.168.1.200","port":"102","rack":"0","slot":"1","cycletime":"500","timeout":"1500","verbose":"on","payload":{},"class":"icon-connection"},{"id":"c1319df8.7b975","type":"s7.group","z":"2a687854.142b08","name":"Production","connection":"aea1aa0e.aec3e8"},{"id":"c00d4fdc.eb618","type":"s7.db","uri":"mongodb://localhost:27017/xapp","name":"XAPP","options":"","parallelism":-1},{"id":"79e84d2d.40f024","type":"ui.tab","name":"Dashboard 001","order":0,"disabled":false,"hidden":false,"startdate":"2024-08-06T23:00:00.000Z","enddate":"2024-08-07T22:59:59.999Z"},{"id":"aae21502.89f878","type":"s7.io","z":"2a687854.142b08","connection":"aea1aa0e.aec3e8","group":"c1319df8.7b975","name":"Product 01","payload":{"S7_Type":"I","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Product 01"},"topic":"topic","signalSetted":false,"none":true,"repeat":"","operation":"","dbnone":true,"dbrepeat":"","once":false,"maxvalue":"100","color":"#1f77b4","unit":"°C","x":0,"y":0,"wires":[]},{"id":"824953ca.0f256","type":"s7.io","z":"2a687854.142b08","connection":"aea1aa0e.aec3e8","group":"c1319df8.7b975","name":"Product 02","payload":{"S7_Type":"I","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Product 02"},"topic":"topic","signalSetted":false,"none":true,"repeat":"","operation":"","dbnone":true,"dbrepeat":"","once":false,"maxvalue":"100","color":"#1f77b4","unit":"°C","x":0,"y":0,"wires":[]},{"id":"2da79127.387efe","type":"s7.io","z":"2a687854.142b08","connection":"aea1aa0e.aec3e8","group":"c1319df8.7b975","name":"Product 03","payload":{"S7_Type":"I","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Product 03"},"topic":"topic","signalSetted":false,"none":true,"repeat":"","operation":"","dbnone":true,"dbrepeat":"","once":false,"maxvalue":"100","color":"#1f77b4","unit":"°C","x":0,"y":0,"wires":[]},{"id":"a3a1103f.21bbc","type":"s7.io","z":"2a687854.142b08","connection":"aea1aa0e.aec3e8","group":"c1319df8.7b975","name":"Product 04","payload":{"S7_Type":"I","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Product 04"},"topic":"topic","signalSetted":false,"none":true,"repeat":"","operation":"","dbnone":true,"dbrepeat":"","once":false,"maxvalue":"100","color":"#1f77b4","unit":"°C","x":0,"y":0,"wires":[]},{"id":"13998776.289539","type":"s7.io","z":"2a687854.142b08","connection":"aea1aa0e.aec3e8","group":"c1319df8.7b975","name":"Product 05","payload":{"S7_Type":"I","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Product 05"},"topic":"topic","signalSetted":false,"none":true,"repeat":"","operation":"","dbnone":true,"dbrepeat":"","once":false,"maxvalue":"100","color":"#1f77b4","unit":"°C","x":0,"y":0,"wires":[]},{"id":"3aad4039.3afd7","type":"ui.gauge","z":"2a687854.142b08","name":"Product 01","parentid":"79e84d2d.40f024","tag":"aae21502.89f878","width":"12","height":"17","class":"icon-ui-gauge","x":"36","y":"0","field":"payload","fieldType":"msg","formatt":"handlebars","syntax":"mustache","template":"","output":"str","wires":[]},{"id":"4841dd6c.11b784","type":"ui.gauge","z":"2a687854.142b08","name":"Product 02","parentid":"79e84d2d.40f024","tag":"824953ca.0f256","width":"13","height":"17","class":"icon-ui-gauge","x":"11","y":"0","field":"payload","fieldType":"msg","formatt":"handlebars","syntax":"mustache","template":"","output":"str","wires":[]},{"id":"23b7b59f.b454ca","type":"ui.gauge","z":"2a687854.142b08","name":"Product 03","parentid":"79e84d2d.40f024","tag":"2da79127.387efe","width":"12","height":"17","class":"icon-ui-gauge","x":"24","y":"0","field":"payload","fieldType":"msg","formatt":"handlebars","syntax":"mustache","template":"","output":"str","wires":[]},{"id":"b8df10e2.d02d3","type":"ui.gauge","z":"2a687854.142b08","name":"Product 04","parentid":"79e84d2d.40f024","tag":"a3a1103f.21bbc","width":"11","height":"17","class":"icon-ui-gauge","x":"0","y":"0","field":"payload","fieldType":"msg","formatt":"handlebars","syntax":"mustache","template":"","output":"str","wires":[]}]